body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 17px;
  line-height: 24px;
  color: #32425c;
  background-color: #f4f7f9;
}
.main-navigation ul {
  list-style: none;
}
.main-navigation a {
  color: #ffffff;
}
.header-top {
  background-color: #293449;
}
.header-top a:hover {
  background-color: #212a3a;
}
.header-top a:focus {
  background-color: #293449;
}
.order {
  background-color: #63a63e;
}
.order a:hover {
  background-color: #5fbb2d;
}
.order a:focus {
  background-color: #63a63e;
}
.description {
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
}
.header-address {
  font-size: 14px;
  font-style: normal;
}
.header-phone {
  font-size: 21px;
  color: #ee3643;
  border: solid #ffffff;
}
.button {
  font-size: 14px;
  text-align: center;
  border: none;
  text-transform: uppercase;
}
 .user-navigation .white-button {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
}
.user-navigation a:hover {
  color: #ee3643;
}
.navigation {
  background-color: #32425c;
}
.navigation a:hover {
  background-color: #293449;
}
.container ul {
  list-style: none;
}
.company,
.contacts {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.caption {
  font-size: 30px;
  line-height: 30px;
  font-weight:400;
  text-transform: uppercase;
}
.transport {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.red-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
}
.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}
.main-footer ul {
  list-style: none;
}
.sections a {
  color: #ffffff;
}
.goods a {
  color: #ffd180;
}
.footer-address {
  font-style: normal;
}
.feedback {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}
.feedback a {
  color: #ffd180;
}
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.breadcrumbs a {
  color: #000000;
}
.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
.fieldset {
  border: none;
}
.filter-name {
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
}
.filter-button {
  font-size: 13px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}
.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog-item {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.catalog-item a {
  color: #000000;
}
.old-price {
 font-size: 18px;
 line-height: 20px;
 font-weight: 700;
 color: #999999;
 text-decoration:line-through;
}
.catalog-item-price .red-arrow-button {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
}
.button-buy {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
  border: solid #63a63e;
}
.button-buy:hover {
  background-color: #5fbb2d;
}
.button-bookmarks {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: solid #63a63e;
}
.button-bookmarks:hover {
  border: solid #32425c;
}
.modal-letter,
  .modal-map,
  .modal-buy {
    display: none;
  }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect (0 0 0 0);
    overflow: hidden;
  }
