body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  background-color: #f4f7f9;
}
.main-navigation {
  font-size: 17px;
  line-height: 24px;
  color: #32425c;
  margin: 0;
  padding-bottom: 60px;
}
.main-navigation ul {
  list-style: none;
}
.main-navigation a {
  color: #ffffff;
}
.header-top-wrapper {
  background-color: #293449;
  width: 100%;
  height: 42px;
  margin: 0;
  margin-bottom: 47px;
}
.center {
  width: 940px;
  margin: 0 auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
}
.logo {
  background-color: #ee3643;
  padding: 12px 55px;
  border-bottom: solid 5px #b52933;
  margin: 0;
  display: block;
}
.footer-top .logo {
  background-color: #ee3643;
  border-bottom: solid 5px #b52933;
  margin: 0;
  padding: 20px 40px;
  display: block;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo:focus {
  background-color: #ee3643;
}
.logo:active {
  background-color: #ba2732;
}
.search-wrapper {
  position: relative;
}
.search-input {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  width: 270px;
  padding: 12px;
  margin: 0;
  padding-left: 49px;
  display: flex;
  width: 270px;
  position: relative;
}
.search-input::-ms-clear {
  display: none;
}
.search-input::-webkit-input-placeholder {
  color: #ffffff;
 }
 .search-input:hover {
   background-color: #212a3a;
 }
 .search-input:focus {
   background-color: #ffffff;
   color: #000000;
   border: none;
 }
 .search-input:active {
   background-color: #293449;
   border: none;
 }
 .icon {
   position: absolute;
   top: 11px;
   left: 19px;
 }
.purchases {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 450px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.purchases li {
  flex-grow: 1;
}
.purchases a {
  display: block;
  padding: 9px 9px 9px 44px;
  max-width: 150px;
}
.purchases a:hover {
  background-color: #212a3a;
}
.purchases a:focus {
  background-color: #293449;
}
.purchases a:active {
  background-color: #161d29;
}
.order a {
  background-color: #63a63e;
  margin: 0;
  padding: 9px;
  text-align: center;
  display: block;
}
.order a:hover {
  background-color: #5fbb2d;
}
.order a:focus {
  background-color: #63a63e;
}
.order a:active {
  background-color: #518534;
}
.header-center {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.description {
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
  margin: 0;
  margin-left: 51px;
}
.header-address {
  font-size: 14px;
  line-height: 24px;
  width: 270px;
  font-style: normal;
  text-align: center;
  margin: 0;
}
.header-phone {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;
  border: solid #ffffff;
  padding: 8px 30px 8px 55px;
  margin: 0;
  margin-bottom: 4px;
  display: block;
}
.button {
  font-size: 14px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 282px;
  height: 47px;
  margin: 0;
  padding: 0;
}
 .user-navigation .white-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
  padding: 10px;
  margin: 0;
  display: block;
}
.user-navigation .log-in {
  padding-left: 47px;
  padding-right: 25px;
  position: relative;
}
.user-navigation .registration {
  padding: 10px 25px;
}
.user-navigation .user {
  position: relative;
  width: 100%;
  padding: 12px 24px;
}
.user svg:first-child {
  top: 12px;
  left: 12px;
  position: absolute;
}
.user svg:last-child {
  top: 13px;
  left: 250px;
  position: absolute;
}
.log-in svg {
  position: absolute;
  top: 11px;
  left: 16px;
}
.user-navigation a:hover {
  color: #ee3643;
}
.user-navigation a:active {
  color: #cacaca;
}
.underlined-buttons a:first-child {
  position: relative;
}
.underlined-buttons a:first-child::after {
  content: "";
  position: absolute;
  right: -55px;
  top: 8px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}
.navigation {
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 5px #293449;
  padding: 0 25px 0 16px;
}
.navigation li {
  flex-grow: 1;
}
.navigation a {
  display: block;
  padding: 16px;
  text-align: center;
}
.navigation a:hover {
  background-color: #293449;
}
.navigation a:focus {
  background-color: #293449;
}
.navigation a:active {
  color: #a8abaf;
  background-color: #1d2739;
}
.container {
  padding: 15px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.container ul {
  list-style: none;
}
.company,
.contacts {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.company {
  width: 540px;
}
.contacts {
  width: 300px;
}
.company p {
  margin-bottom: 23px;
}
.company li {
  position: relative;
}
.contacts p {
  margin-bottom: 31px;
}
.company li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}
.caption {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;
  text-transform: uppercase;
  margin: 30px 0 25px 0;
}
.map-img {
  margin-bottom: 33px;
}
.contacts .red-button {
  height: 38px;
  width: 100%;
  border-radius: 2px;
}
.company .red-button {
  width: 207px;
  display: block;
  padding: 6px;
  border-radius: 2px;
}
.company li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 19px;
}
.company ul {
  margin-bottom: 39px;
  padding: 0;
  padding-left: 15px;
}
.red-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
}
.red-button:hover {
  background-color: #ca2c37;
}
.red-button:active {
  background-color: #ba2732;
}
.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.footer-wrapper {
  width: 100%;
  height: 195px;
  background-color: #32425c;
  box-sizing: border-box;
}
.main-footer ul {
  list-style: none;
}
.footer-address {
  font-style: normal;
  padding: 30px 0px 0px 3px;
}
.footer-top,
.footer-center {
  display: flex;
  justify-content: space-between;
}
.sections {
  display: flex;
  width: 548px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}
.sections a {
  padding: 39px 0px 0px 0px;
  display: block;
  color: #ffffff;
}
.goods {
  display: flex;
  width: 548px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-center .goods a {
  display: block;
  margin: 0;
  color: #ffd180;
  padding: 12px 0px 0px 23px;

}
.feedback {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-feedback {
  padding: 20px;
  display: block;
  max-width: 160px;
  margin-left: 78px;
}
.developers {
  padding: 20px 15px;
  display: block;
  max-width: 160px;
}
.footer-feedback a:hover,
.developers a:hover {
  text-decoration: underline;
}
.footer-feedback a:active,
.developers a:active {
  color: #ee3643;
}
.feedback-wrapper {
  width: 100%;
  height: 105px;
  background-color: #293449;
  box-sizing: border-box;
}
.feedback a {
  color: #ffd180;
}
.feedback a:active {
  color: #ee3643;
}
.footer-copyright {
  display: block;
  padding-top: 20px;
  max-width: 310px;
}
.sections a:hover {
text-decoration: underline;
}
.sections a:active {
opacity: 0.5;
}
.goods a:hover {
  text-decoration: underline;
}
.goods a:active {
opacity: 0.5;
}
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 390px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10px;
  list-style: none;
}
.breadcrumbs li {
  position: relative;
}
.breadcrumbs a {
  color: #000000;
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumb-index {
  width: 14px;
  height: 14px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  position: absolute;
}
.breadcrumbs a:not(.breadcrumb-index)::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 3px;
    width: 8px;
    height: 12px;
    background: url(../img/icon-right-small.svg);
}
.container-catalog {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
}
.container-catalog .title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  background-color: #f2f6f8;
  margin-bottom: 30px;
  padding: 30px;
}
.filters {
  width: 220px;
}
.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
.fieldset {
  border: none;
}
.filter-name {
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
}
.filter .white-button {
  font-size: 13px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-items {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.catalog h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #eaeaea;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px
}
.catalog-item:hover {
  box-shadow: 5px 5px 5px 5px rgba(41, 52, 73, 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-item a {
  color: #000000;
}
.old-price {
 font-size: 18px;
 line-height: 20px;
 font-weight: 700;
 color: #999999;
 text-decoration:line-through;
 text-align: center;
 padding: 0;
 margin: 0;
}
.catalog-item .red-arrow-button {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
  padding: 7px;
}
.green-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
  border: solid #63a63e;
  padding: 5px 43px;
  border-radius: 2px;
  display: block;
  margin: 40px 20px 10px 20px;
}
.green-button:hover {
  background-color: #5fbb2d;
  border: solid #5fbb2d;
  box-shadow: 0 2px 0 0 #367315;
}
.green-border-button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: solid #63a63e;
  padding: 5px 30px;
  border-radius: 2px;
  display: block;
  margin: 0 20px;
}
.green-border-button:hover {
  border: solid #32425c;
}
.product-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  padding-left: 25px;

}
.cart-full {
  background-color: #ee3643;
}
.logo:hover {
  background-color: #ca2c37;
}
.user-navigation .underlined-button {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-transform: none;
  text-decoration: underline;
}
.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 201px;
}
.pagination-list .pagination-item {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 4px;
}
 .pagination-list .pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
  border: solid 1px #ee3643;
  padding: 8px 17px;
}
.pagination-item:hover {
border: solid 1px #bdc6ca;
}
.product-buttons {
  display: none;
}
.catalog-item:hover img {
  display: none;
}
.catalog-item:hover .product-buttons {
  display: block;
}
.purchases .bookmarks {
  position: relative;
}
.purchases .bookmarks::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}
.purchases .bookmarks:hover:before {
  opacity: 1;
}
.purchases .bookmarks:focus:before {
  opacity: 0.3;
}
.purchases .bookmarks:active:before {
  opacity: 0.3;
}
.purchases .cart {
  position: relative;
}
.cart::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 16px;
  opacity: 0.3;
}
.purchases .cart:hover:before {
  opacity: 1;
}
.purchases .cart:focus:before {
  opacity: 0.3;
}
.purchases .cart:active:before {
  opacity: 0.3;
}
.header-phone {
  position: relative;
}
.header-phone::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 9px;
  left: 16px;
}
.user-navigation .white-button:hover path {
  fill: #32425c;
}
.search-wrapper:hover path {
  fill: #f0525d;
}
.search-wrapper:focus path {
  fill: #f0525d;
}
.search-wrapper:active path {
  fill: #f0525d;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 320px;
  padding-left: 144px;
}
.footer-social a {
  display: block;
  margin: 18px 2px;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
}
.vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
}
.fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
}
.insta {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
}
.vk:hover,
.vk:active,
.fb:hover,
.fb:active,
.insta:hover,
.insta:active {
  background-color: #ee3643;
}
.modal-map,
  .modal-buy,
  .modal-letter {
   display: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
