body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.main-navigation {
  font-size: 17px;
  line-height: 24px;
  color: #32425c;
  background-color: #f4f7f9;
  margin: 0;
  padding-bottom: 60px;
}
.main-navigation ul {
  list-style: none;
}
.main-navigation a {
  color: #ffffff;
}
.header-top-wrapper {
  background-color: #293449;
  width: 100%;
  height: 42px;
  margin: 0;
  margin-bottom: 47px;
}
.center {
  width: 940px;
  margin: 0 auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
}
.logo {
  background-color: #ee3643;
  padding: 12px 55px;
  border-bottom: solid 5px #b52933;
  margin: 0;
  display: block;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo:focus {
  background-color: #ee3643;
}
.logo:active {
  background-color: #ba2732;
}
.search input {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  padding: 12px 46px;
  width: 270px;
  margin: 0;
}
.search input::-webkit-input-placeholder {
  color: #ffffff;
 }
 .search input:hover {
   background-color: #212a3a;
 }
 .search input:focus {
   background-color: #ffffff;
   color: #000000;
 }
 .search input:active {
   background-color: #293449;
 }
.purchases {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 450px;
}
.purchases li {
  flex-grow: 1;
}
.purchases a {
  display: block;
  padding: 9px 9px 9px 44px;
}
.purchases a:hover {
  background-color: #212a3a;
}
.purchases a:focus {
  background-color: #293449;
}
.purchases a:active {
  background-color: #161d29;
}
.order a {
  background-color: #63a63e;
  margin: 0;
  padding: 9px 12px;
  text-align: center;
}
.order a:hover {
  background-color: #5fbb2d;
}
.order a:focus {
  background-color: #63a63e;
}
.order a:active {
  background-color: #518534;
}
.header-center {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.description {
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
  margin: 0;
  margin-left: 51px;
}
.header-address {
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  flex-direction: column;
  margin: 0;
}
.header-phone {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;
  border: solid #ffffff;
  padding: 6px 30px 6px 50px;
  margin: 0;
  display: block;
}
.button {
  font-size: 14px;
  text-align: center;
  border: none;
  text-transform: uppercase;
}
.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 282px;
  height: 47px;
  margin: 0;
  padding: 0;
}
 .user-navigation .white-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
  padding: 10px 20px;
  margin: 0;
  display: block;
}
.user-navigation a:hover {
  color: #ee3643;
}
.user-navigation a:active {
  color: #cacaca;
}
.navigation {
  background-color: #32425c;
  display: flex;
  justify-content: space-between;
  height: 55px;
  border-bottom: solid 5px #293449;
  padding: 0;
}
.navigation li {
  flex-grow: 1;
}
.navigation a {
  display: block;
  padding: 16px;
  text-align: center;
}
.navigation a:hover {
  background-color: #293449;
}
.navigation a:focus {
  background-color: #293449;
}
.navigation a:active {
  color: #a8abaf;
  background-color: #1d2739;
}
.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 76px;
}
.container ul {
  list-style: none;
}
.company,
.contacts {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.company {
  width: 540px;
}
.contacts {
  width: 300px;
}
.company p {
  margin-bottom: 23px;
}
.contacts p {
  margin-bottom: 31px;
}
.caption {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight:400;
  text-transform: uppercase;
}
.map-img {
  margin-bottom: 33px;
}
.contacts .red-button {
  height: 38px;
  width: 100%;
}
.company .red-button {
  width: 207px;
  display: block;
  padding: 6px;
}
.company li {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 19px;
}
.company ul {
  margin-bottom: 39px;
}
.red-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
}
.red-button:hover {
  background-color: #ca2c37;
}
.red-button:active {
  background-color: #ba2732;
}
.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.footer-top .logo {
  padding: 23px 55px;
  margin: 0;
  display: block;
}
.footer-wrapper {
  width: 100%;
  height: 195px;
  background-color: #32425c;
  box-sizing: border-box;
}
.main-footer ul {
  list-style: none;
}
.sections a {
  color: #ffffff;
}
.goods a {
  color: #ffd180;
}
.footer-address {
  font-style: normal;
}
.footer-top,
.footer-center {
  display: flex;
  justify-content: space-between;
}
.sections {
  display: flex;
  justify-content: flex-end;
}
.sections a {
  padding: 20px;
  display: block;
  margin-left: 15px;
}
.goods {
  display: flex;
  justify-content: space-between;
}
.goods a {
  padding-bottom: 15px;
  display: block;
  margin-left: 15px;
}
.feedback {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

}
.footer-feedback,
.developers {
  padding-top: 20px;
}
.footer-feedback a:hover,
.developers a:hover {
  text-decoration: underline;
}
.footer-feedback a:active,
.developers a:active {
  color: #ee3643;
}
.feedback-wrapper {
  width: 100%;
  height: 105px;
  background-color: #293449;
  box-sizing: border-box;
}
.feedback a {
  color: #ffd180;
}
.feedback a:active {
  color: #ee3643;
}
.footer-copyright {
  padding-top: 20px;

}
.sections a:hover {
text-decoration: underline;
}
.sections a:active {
opacity: 0.5;
}
.goods a:hover {
  text-decoration: underline;
}
.goods a:active {
opacity: 0.5;
}
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  width: 390px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10px;
  list-style: none;
}
.breadcrumbs a {
  color: #000000;
}
.container-catalog {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: flex;
}
.container-catalog .title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  background-color: #f2f6f8;
  margin-bottom: 30px;
  padding: 30px;
}
.filters {
  width: 220px;
}
.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
.fieldset {
  border: none;
}
.filter-name {
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
}
.filter .white-button {
  font-size: 13px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}
.catalog {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-items {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.catalog-item {
  width: 200px;
  height: 318px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
}
.catalog-item a {
  color: #000000;
}
.old-price {
 font-size: 18px;
 line-height: 20px;
 font-weight: 700;
 color: #999999;
 text-decoration:line-through;
 text-align: center;
 padding: 0;
 margin: 0;
}
.catalog-item .red-arrow-button {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px;
}
.green-button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
  border: solid #63a63e;
}
.green-button:hover {
  background-color: #5fbb2d;
}
.green-border-button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: solid #63a63e;
}
.green-border-button:hover {
  border: solid #32425c;
}
.cart-full {
  background-color: #ee3643;
}
.logo:hover {
  background-color: #ca2c37;
}
.user-navigation .underlined-button {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-transform: none;
  text-decoration: underline;
}
.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 201px;
}
.pagination-list .pagination-item {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 4px;
}
 .pagination-list .pagination-item-current {
  color: #ffffff;
  background-color: #ee3643;
  border: solid 1px #ee3643;
  padding: 8px 17px;
}
.pagination-item:hover {
border: solid 1px #bdc6ca;
}
  .modal-map,
  .modal-buy,
  .modal-letter {
    display: none;
  }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect (0 0 0 0);
    overflow: hidden;
  }
